.auction {
    background-color: #f4f4f4;
    padding-right: 0;
}

.link {
    color: inherit;
    text-decoration: inherit;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: start;
}

@media screen and (width < 1000px) {

  .grid-container {
    grid-template-columns: auto;
  }
  .card {
    width: 100% !important;
  }
}

.card {
    transition: transform .2s;
}

.card:hover {
    box-shadow: 0 5px 5px rgba(57, 57, 57, 0.7);
    transform: scale(1.01);
}
