:root {
  --pagePadding: 20%;
  --themeColor: #1b1f31;
  --themeGradient: linear-gradient(-10deg, #000000 0%, #002f6a 50%, #0d174e 100%);
}

.App {
  font-family: Georgia, serif;
}

.App-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 70px;
  padding-right: var(--pagePadding);
  padding-left: var(--pagePadding);

  background-image: var(--themeGradient);
  color: white;
}

.App-logo {
  color: inherit;
  text-decoration: inherit;
  font-size: 20px;
  font-weight: bold;
}

.App-body {
  padding-right: var(--pagePadding);
  padding-left: var(--pagePadding);
  padding-top: 1rem;
  padding-bottom: 1rem;

  min-height: 83vh;
  display: flex;
  flex-direction: column;
}

.menu-item {
  color: inherit;
  text-decoration: inherit;
  padding-right: 1rem;
  padding-left: 1rem;
  cursor: pointer;
}

.menu-item:hover {
  text-decoration: underline;
}

.App-footer {
  color: white;
  background-image: var(--themeGradient);
  margin: auto 0;
  min-height: 10vh;
  text-align: center;
}
